.loader {
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: -10;
  @include transition(1s ease-in);

  &__container {
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translateY(-50%) translateX(-50%));
  }

  &__item {
    background-color: $white-color;
    border-radius: 100%;
    margin: 2px;
    display: inline-block;
    height: 60px;
    width: 60px;
    @include animation(loader-animation 1s 0s ease-in-out infinite);
  }

  &.is-hidden {
    .loader__item {
      opacity: 0;
      @include animation(none);
    }
  }
}

@include keyframes(loader-animation) {
    0%{
      @include transform(scale(0));
    }
    100%{
      @include transform(scale(1));
      opacity:0
    }
}
