.logo {
  &__container {
    padding-right: 30px;
    z-index: 1000;
    @include flex;

    &:active #Fill-8 {
      fill:$main-color;
      @include transition(0.2s);
    }

    @include breakpoints(992px) {
      padding-right: 90px;
    }
  }
}

