.sidebar {
  &__container {
    height: 100vh;
    padding-top:60px;
  }

  &__content {
    padding-left: 20px;
  }

  &__item {
    display: block;
    padding: 11px 0px;
    background-color: transparent;
    color: $second-color;
    @include transition(0.2s);
  }

  &--display {
    visibility: initial!important;
    background-color:$main-color;
    opacity: 1!important;
    z-index: auto;
  }
}