.trigger-animation {
  opacity: 0;
  @include transition(0.4s 1s ease-out);

  &__translateY {
    @include transform(translateY(20px));

    &.is-ready {
      @include transform(translateY(0px));
      opacity: 1;
    }
  }

  &__translateX {
    @include transform(translateX(-20px));

    &.is-ready {
      @include transform(translateX(0px));
      opacity: 1;
    }
  }
}