.contact {
  &__wrapper {
    @include flex;
    @include justify-content-end;
  }

  &__container {
    position: absolute;
  }

  &__link {
    display: block;
    width: 78px;
    height: 90px;
  }
}