.logo {
  &__container {
    padding-right: 30px;
    @include flex;

    &:active #Fill-8 { // animation when click logo
      fill:$black-color;
      @include transition(0.2s);
    }

    @include breakpoints(992px) {
      padding-right: 90px;
    }
  }
}

