.background {
  height: inherit;
  z-index: -10;

  &__carousel {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
    opacity: 0.5;
    @include transition(0.4s ease-out);
    background-image: url('https://you.digital/system/home_images/images/home_images_62_original.jpg?1522146353');

    &.is-active {
      opacity: 1;
    }

    &.is-hidden {
      opacity: 0;
    }
  }

  &__gradient {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 60%;
    @include linear-gradient(rgba(38, 50, 101, 0) 0%, rgba(38, 50, 101, 0.89) 65%, rgba(38, 50, 101, 1) 80%, rgba(38, 50, 101, 1) 100%);
  }
}