.content {
  height: inherit;
  @include transition(0.6s ease-out);

  &__body__wrapper {
    position: absolute;
    height: 50%;
    top: 30%;
    width: 100%;
  }

  &__footer__wrapper {
    position: absolute;
    bottom: 0px;
    width: 100%;

    & .content__item {
      opacity: 1;
    }
  }

  &__container {
    @extend .l-container;
  }

  &__item {
    @extend .l-row;
    margin:0;
  }
}