@include breakpoints(768px) {
  @include col-list;
}

@include col-extend;

#header {
  height: 60px;
  width: 100%;
  position: fixed;
  background-color: transparent;
  z-index: 50;
  @include transition(0.4s ease-out);

  @include breakpoints(992px) {
      height: 120px;
  }
}

#footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  z-index: 50;
  @include transition(0.4s ease-out);
}

#main {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 10;
  @include transition(0.4s ease-out);
}

.p{
  &b-75 {
    padding-bottom: 75px;
  }
}


