@include col-list(s);
@include breakpoints(768px) {
  @include col-list(m);
}

@include col-extend(s);
@include col-extend(m);

#header {
  height: 60px;
  width: 100%;
  position: fixed;
  background-color: transparent;
  z-index: 1000;
  @include transition(0.4s ease-out);

  @include breakpoints(992px) {
      height: 120px;
  }
}

#footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  z-index: 1000;
  @include transition(0.4s ease-out);
}

#main {
  width: 100%;
  z-index: 100;
  @include transition(0.4s ease-out);
}

.ratio-1-1 {
  height: 100vh!important;
  position: relative;

  @media (orientation: landscape) {
    height: 0px !important;
    padding-bottom: 100%;
  }
}

.p-relative {
  position: relative;
}


