@import '/src/public/assets/fonts/avenir/stylesheet.css';
@import '/src/public/assets/fonts/amerigo/stylesheet.css';

$black-color: rgba(38, 50, 101, 1);
$white-color: rgba(255, 255, 255, 1);

html {
  text-rendering: optimizeLegibility;
}

body {
  color:$white-color;
  font-family: "Amerigo Md BT", "Lato", sans-serif;
  font-size: 22px;
  line-height: 1.3;
  letter-spacing: 0.015em;
  font-weight: 500;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 

  @include transition(0.4s ease-out);
  &.is-second-color {
    //TODO:- This was a fast fix -> REDO!
    color:$black-color!important;
    background:$white-color!important;

    #header{
      background-color:$white-color!important;
    }

    svg #project-pc {
      fill: $black-color!important;
    }

    svg #project-pc, svg #Triangle, svg #contact-mb, svg #project-mb  {
      fill: $black-color!important;
    }

    svg #Path-2 {
      stroke: $black-color!important;
    }

    .more__arrow {
      @include transform(translateX(55px));
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Amerigo BT", "Lato", sans-serif;
  font-size: 35px;
  line-height: 1.3;
  letter-spacing: 0.011em;
  font-weight: normal;
  font-style: normal;
}

button {
  font-family: AvenirLTStd-Book;
}

.nav-list {
  font-family: "AvenirLTStd-Heavy";
  font-size: 15px;
  line-height: 1.3;
  letter-spacing: 0em;
  font-weight: normal;

  &__item {
    height: 100%;
    vertical-align: middle;
    padding: 25px 25px;
    opacity: 0.3;
    @include transition(0.4s);

    &.active {
      opacity: 1;
    }
  }
}

.sidebar {
  font-family: AvenirLTStd-Book;
  font-size: 35px;
  line-height: 1.05;
  letter-spacing: 0em;
  font-weight: normal;
  color: $white-color;

  &__item:active {
    background-color: $white-color;
    color: $black-color;
  }
}

.link {
  &--legal {
    font-size: 12px;
    line-height: 1.3;
    text-decoration: underline;
    position: absolute;
    left: 20px;
    bottom: 20px;
    z-index: 1000;
    @include transition(0.3s);

    &:active {
      color: $black-color;
    }

    &.is-overflow-hidden {
      //TODO:- Fix with comment on Header.js about Sidebar
      top: 94vh;
    }
  }
}

.font {
  &__subtitle {
    font-family: "AvenirLTStd-Heavy";
    font-size: 10px;
    line-height: 1.3;
    letter-spacing: 0.2em;
    padding-bottom: 20px;
    padding-left: 13px;

    @include breakpoints(768px) {
      padding-bottom: 30px;
    }
  }

  &__title {
    font-family: "AvenirLTStd-Book";
    font-size: 35px;
    line-height: 1.05;
    letter-spacing: 0em;
    font-weight: normal;

    @include breakpoints(768px) {
      font-size: 45px;
      line-height: 1.177777;
    }
  }

  &__arrow {
    font-family: "AvenirLTStd-Heavy";
    font-size: 8px;
    line-height: 1.05;
    letter-spacing: 0.09em;
    font-weight: 900;
    font-style: normal;
  }

  &__more {
    font-family: "AmerigoBT-BoldA";
    font-size: 42px;
    line-height: 1;
    letter-spacing: 0em;
    font-weight: normal;
    font-style: normal;

    @include breakpoints(768px) {
      font-size: 60px;
    }

    @include breakpoints(992px) {
      font-size: 85px;
    }
  }
}

.image {
  &__logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 0px;
    top: 0px;
    left: 0px;
    padding-bottom: 55.612244898%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
  }

  @include breakpoints(768px) {
    max-width: 196px;
  }
}