@import '/src/public/assets/fonts/avenir/stylesheet.css';
@import '/src/public/assets/fonts/amerigo/stylesheet.css';

body {
  color:#000;
  font-family: AvenirLTStd-Book;
}

button {
  font-family: AvenirLTStd-Book;
}